.nav{
  z-index: 10;
  position: fixed; left: 0; top: 0;
  display: flex; flex-direction: row; justify-content: space-between; align-items: center;
  width: 100%; height: 3vw;
  font-size: 1.3vw; font-family: 'LINESeedKR-Bd';
  background: #ffeadc;
  transition: all 500ms ease 0s;
  .nav__logo{
    position: relative; top: -0.6vw;
    font-size: 1vw;
    margin-left: 1.2vw;
    &:hover{
      text-decoration: underline;
    }
    span.git{
      position: absolute; left: -0.1vw; top: 1.1vw;
      display: inline-block;
      background: url(../../public/images/GitHub_Logo.png);
      background-size: cover;
      width: 3.4vw; height: 1.4vw;
      padding-bottom: 0;
    }
    span.hub{
      position: absolute; left: 3.4vw; top: 1.1vw;
      display: inline-block;
      background: url(../../public/images/GitHub-Mark-64px.png);
      background-size: cover;
      width: 1.4vw; height: 1.4vw;
      padding-bottom: 0;
    }
  }
  .nav__parts{
    ul{
      display: flex; justify-content: center; align-items: center;
      li{
        position: relative;
        cursor: pointer;
        &+li{
          margin-left: 3vw;
        }
        .down::after{
          content: "";
          position: absolute; right: 0; top: 25%;
          width: 0.55vw; height: 0.55vw;
          border-left: 0.15vw solid #000;
          border-bottom: 0.15vw solid #000;
          transform: rotate(-45deg);
        }
        .up::after{
          content: "";
          position: absolute; right: 0; top: 45%;
          width: 0.55vw; height: 0.55vw;
          border-left: 0.15vw solid #000;
          border-bottom: 0.15vw solid #000;
          transform: rotate(135deg);
        }
        ul{
          position: absolute; left: 50%; top: calc(100% + 0.6vw); transform: translate(-50%, 0);
          // display: flex; justify-content: center; align-items: center;
          background: #fff3eb;
          border-radius: 0 0 1.2vw 1.2vw;
          box-shadow: 0 3px 5px 0 rgba($color: #ff9350, $alpha: 0.1) inset;
          transition: all 500ms ease 0s;
          li{
            width: 7vw; min-width: 65px;
            font-size: 1.1vw;
            text-align: center;
            padding: 1vw 0.7vw;
            margin: 0;
            transition: all 150ms ease-out 0s;
            &.active{
              color: #fb9759;
            }
          }
        }
        .fadein{
          animation: fade-in 400ms ease 0s;
          @keyframes fade-in {
            0% {
              opacity: 0;
              visibility: hidden;
              transform: translate(-50%, -100%);
            }
            100% {
              visibility: visible;
              transform: translate(-50%, 0);
            }
          }
        }
        .fadeout{
          animation: fade-out 400ms ease 0s forwards;
          @keyframes fade-out {
            0% {
              visibility: visible;
              transform: translate(-50%, 0);
            }
            50%, 100% {
              opacity: 0;
              visibility: hidden;
              transform: translate(-50%, -100%);
            }
          }
        }
      }
    }
  }
  
  a, span{
    position: relative;
    padding-bottom: 0.2vw;
    width: 2.5vw;
    margin-right: 1.2vw;
    &::after{
      content: "";
      position: absolute; left: 50%; bottom: 0;
      width: 0;
      transition: all 500ms ease 0s;
    }
  }
  .active1, .active2, .active3, .active4{
    &::after{
      content: "";
      position: absolute; left: 0;
      width: 100%; height: 0.15vw;
      background: #ffa76f;
    }
  }
}